@model IEnumerable<Genre>
<li class="nav-item dropdown">
    <a asp-controller="Book"
       asp-action="Index"
       class="nav-link dropdown-toggle"
       id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Book
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var genre in Model)
        {

        <a class="dropdown-item" asp-controller="Book" asp-action="List"
           asp-route-genre="@genre.GenreName">@genre.GenreName</a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Book" asp-action="List" asp-route-Genre="">View all books</a>
        </div>
    </li>

   
