@model HomeViewModel


<partial name="_Carousel" />
<div class="container">
    <div class="row">
        <h3>Books of the week</h3>
        <h4>Our weekly selection - just for you!</h4>

       

            @foreach (var book in Model.BooksOfTheWeek)
            {
                <partial name="_BookCard" model="book" />
            }

       

</div>
</div>