@model BooksListViewModel

<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="row">
            <h1>@Model.CurrentGenre</h1>

            @foreach (var book in Model.Books)
            {
                <partial name="_BookCard" model="book" />
            }

        </div>


    </div>
</section>